<% include ../partials/header %>

<div class="container">
    <div class="profile row">
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <div class="profile__info profile__left">
                <div class="extremes">
                    <h2 class="extremes__header title"><%= user.first_name %> <%= user.last_name %></h2>
                    <% if (currUser && user._id.equals(currUser._id)) { %>
                        <h5><a href="/profile/<%= user._id %>/edit"><span class="glyphicon glyphicon-pencil extremes__glyphicon extremes__btn-edit" title="Edit" aria-hidden="true"></span></a></h5>
                    <% } %>
                </div>
                <h5 class="profile__username">@<%= user.username %></h5>
                <h5><span class="title">Age:</span> <%= user.age %></h5>
                <h5><span class="title">Country:</span> <%= user.country %></h5>
                <h5 class="profile__about"><span class="title">About me:</span> <%= user.about %></h5>
            </div>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
            <div class="profile__watched">
                <h2><span class="title">Watched</span></h2>
                <div class="profile__list-movies">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Movie</th>
                                <% if (currUser && user._id.equals(currUser._id)) { %>
                                    <th class="center">Action</th>
                                <% } %>
                            </tr>
                        </thead>
                        <tbody>
                            <% user.watched.forEach(function(movie) { %>
                            <tr>
                                <td><a href="/movies/<%= movie.imdbID %>"><%= movie.title %></a></td>
                                <% if (currUser && user._id.equals(currUser._id)) { %>
                                    <td class="center">
                                        <form action="/profile/<%= user.username %>/<%= movie.imdbID %>/watched?_method=DELETE" method="POST">
                                            <button type="submit" class="profile__btn-glyphicon">
                                                <span class="glyphicon glyphicon-trash profile__glyphicon" title="Remove" aria-hidden="true"></span>
                                            </button>
                                        </form>
                                    </td>
                                <% } %>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="profile__want-to-watch">
                <h2><span class="title">Want to watch</span></h2>
                <div class="profile__list-movies">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Movie</th>
                                <% if (currUser && user._id.equals(currUser._id)) { %>
                                    <th class="center">Action</th>
                                <% } %>
                            </tr>
                        </thead>
                        <tbody>
                            <% user.wantToWatch.forEach(function(movie) { %>
                            <tr>
                                <td><a href="/movies/<%= movie.imdbID %>"><%= movie.title %></a></td>
                                <% if (currUser && user._id.equals(currUser._id)) { %>
                                    <td class="center">
                                        <form class="profile__btn-inline" action="/profile/<%= user.username %>/<%= movie.imdbID %>/wantToWatch?_method=PUT" method="POST">
                                            <button type="submit" class="profile__btn-glyphicon">
                                                <span class="glyphicon glyphicon-check profile__glyphicon" title="Move to 'Watched'" aria-hidden="true"></span>
                                            </button>
                                        </form>
                                        <form class="profile__btn-inline" action="/profile/<%= user.username %>/<%= movie.imdbID %>/wantToWatch?_method=DELETE" method="POST">
                                            <button type="submit" class="profile__btn-glyphicon">
                                                <span class="glyphicon glyphicon-trash profile__glyphicon" title="Remove" aria-hidden="true"></span>
                                            </button>
                                        </form>
                                    </td>
                                <% } %>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/bootstrap.min.js"></script>

<% include ../partials/footer %>