<% include partials/header %>

<div class="container">
    <h1 class="center"><%= info["Title"] %> (<%= info["Year"] %>)</h1>
    <div class="row container-info">
        <div class="col-sm-4 col-xs-12 center info">
            <% if (info["Poster"]) { %>
                <img class="img-responsive" src="<%= info["Poster"] %>" alt="<%= info["Title"] %> - Poster">
            <% } else { %>
                <img class="img-responsive" src="/images/no_image_available.png" alt="<%= info["Title"] %> - Poster">
            <% } %>
            <% if (currUser) { %>
                <form action="/<%= currUser.username %>/<%= info["imdbID"] %>/watched" method="POST">
                    <input type="submit" class="btn btn-default btn-watched" value="Watched">
                </form>
                <form action="/<%= currUser.username %>/<%= info["imdbID"] %>/wantToWatch" method="POST">
                    <input type="submit" class="btn btn-default btn-wantToWatch" value="Want to watch">
                </form>
            <% } %>
        </div>
        <div class="col-sm-8 col-xs-12 info">
            <p><span class="field-title">Genre: </span><%= info["Genre"] %></p>
            <p><span class="field-title">Director: </span><%= info["Director"] %></p>
            <p><span class="field-title">Actors: </span><%= info["Actors"] %></p>
            <p><span class="field-title">Duration: </span><%= info["Runtime"] %></p>
            <p><span class="field-title">IMDb Rating: </span><%= info["imdbRating"] %></p>
            <p><span class="field-title">Plot: </span><%= info["Plot"] %></p>
            <p><a href="http://www.imdb.com/title/<%= info["imdbID"] %>" class="btn btn-default">Link to IMDb</a></p>
        </div>
    </div>
</div>

<div class="container">
    <div class="container-info">
        <h1>Comments</h1>
        <% if (currUser) { %>
            <a class="btn btn-default" href="/movies/<%= info["imdbID"] %>/comments/new">Add a new comment</a>
        <% } %>
        <div>
            <% movie.comments.forEach(function(comment) { %>
                <div class="comment">
                    <p class="author"><%= comment.author %>:</p>
                    <p><%= comment.text %></p>
                </div>
            <% }); %>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/bootstrap.min.js"></script>

<% include partials/footer %>