<% include partials/header %>

<div class="container info">
    <h1><%= info["Title"] %> - <%= info["Year"] %></h1>
    <div class="row">
        <div class="col-md-12">
            <img src="<%= info["Poster"] %>" alt="<%= info["Poster"] %> - Poster">
        </div>
        <div class="col-md-12">
            <a href="http://www.imdb.com/title/<%= info["imdbID"] %>" class="btn btn-primary">Link to IMDb</a>
        </div>
        <div class="col-md-6">
            <%= info["Runtime"] %>
        </div>
        <div class="col-md-6">
            Genre: <%= info["Genre"] %>
        </div>
        <div class="col-md-12">
            Director: <%= info["Director"] %>
        </div>
        <div class="col-md-12">
            Actors: <%= info["Actors"] %>
        </div>
        <div class="col-md-12">
            IMDb Rating: <%= info["imdbRating"] %>
        </div>
        <div class="col-md-12">
            <p><%= info["Plot"] %></p>
        </div>
    </div>
</div>
<div class="container comments">
    <h1>Comments</h1>
</div>

<% include partials/footer %>