<% include partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-left">
                <h1><%= user.username %></h1>
                <h4><%= user.age %></h4>
                <h4><%= user.country %></h4>
                <h4><%= user.about %></h4>
                <% if (currUser && user._id.equals(currUser._id)) { %>
                    <a class="btn btn-default" href="/profile/<%= user._id %>/edit">Edit</a>
                <% } %>
            </div>
        </div>
        <div class="col-md-8">
            <div class="profile-watched">
                <h1>Watched</h1>
                <div class="list-movies">
                    <% user.watched.forEach(function(movie) { %>
                        <p>
                            <a href="/movies/<%= movie.imdbID %>"><%= movie.title %></a>
                            <% if (currUser && user._id.equals(currUser._id)) { %>
                                <form action="/<%= user.username %>/<%= movie.imdbID %>/watched?_method=DELETE" method="POST">
                                    <input type="submit" class="btn btn-danger" value="Remove">
                                </form>
                            <% } %>
                        </p>
                    <% }); %>
                </div>
            </div>
            <div class="profile-wantToWatch">
                <h1>Want to watch</h1>
                <div class="list-movies">
                    <% user.wantToWatch.forEach(function(movie) { %>
                        <p>
                            <a href="/movies/<%= movie.imdbID %>"><%= movie.title %></a>
                            <% if (currUser && user._id.equals(currUser._id)) { %>
                                <form action="/<%= user.username %>/<%= movie.imdbID %>/wantToWatch?_method=PUT" method="POST">
                                    <input type="submit" class="btn btn-danger" value="Move to Watched">
                                </form>
                                <form action="/<%= user.username %>/<%= movie.imdbID %>/wantToWatch?_method=DELETE" method="POST">
                                    <input type="submit" class="btn btn-danger" value="Remove">
                                </form>
                            <% } %>
                        </p>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/bootstrap.min.js"></script>

<% include partials/footer %>