<% include ../partials/header %>

<div class="container">
    <h1 class="center"><span class="field-title"><%= info["Title"] %> (<%= info["Year"] %>)</span></h1>
    <div class="row container-info">
        <div class="col-sm-4 col-xs-12 center info">
            <% if (info["Poster"] && info["Poster"] != "N/A") { %>
                <img class="img-responsive" src="<%= info["Poster"] %>" alt="<%= info["Title"] %> - Poster">
            <% } else { %>
                <img class="img-responsive" src="/images/no_image_available.png" alt="<%= info["Title"] %> - Poster">
            <% } %>
            <% if (currUser) { %>
                <form action="/profile/<%= currUser.username %>/<%= info["imdbID"] %>/watched" method="POST">
                    <input type="submit" class="btn btn-default btn-watched" value="Watched">
                </form>
                <form action="/profile/<%= currUser.username %>/<%= info["imdbID"] %>/wantToWatch" method="POST">
                    <input type="submit" class="btn btn-default btn-wantToWatch" value="Want to watch">
                </form>
            <% } %>
        </div>
        <div class="col-sm-8 col-xs-12 info">
            <p><span class="field-title">Genre: </span><%= info["Genre"] %></p>
            <p><span class="field-title">Director: </span><%= info["Director"] %></p>
            <p><span class="field-title">Actors: </span><%= info["Actors"] %></p>
            <p><span class="field-title">Duration: </span><%= info["Runtime"] %></p>
            <p><span class="field-title">IMDb Rating: </span><%= info["imdbRating"] %></p>
            <p><span class="field-title">Plot: </span><%= info["Plot"] %></p>
            <p><a href="http://www.imdb.com/title/<%= info["imdbID"] %>" class="btn btn-warning">Link to IMDb</a></p>
        </div>
    </div>
</div>

<div class="container">
    <div class="container-info">
        <h1><span class="field-title">Comments</span></h1>
        <div>
            <% if (!movie) { %>
                <p>Sorry, one error happened trying to load the comments. Try to refresh the page.</p>
            <% } else { %>
                <% movie.comments.forEach(function(comment) { %>
                    <div class="comment">
                        <div class="extremes">
                            <p class="author"><a href="/profile/<%= comment.author.username %>"><%= comment.author.username %>:</a></p>
                            <% if (currUser && comment.author.id.equals(currUser._id)) { %>
                                <form action="/movies/<%= info["imdbID"] %>/comments/<%= comment._id %>?_method=DELETE" method="POST"> 
                                    <button type="submit" class="glyphicon-btn">
                                        <span class="glyphicon glyphicon-remove glyphicon-general" title="Delete" aria-hidden="true"></span>
                                    </button>
                                </form>
                            <% } %>
                        </div>
                        <span><%= comment.text %></span>
                        <% if (currUser && comment.author.id.equals(currUser._id)) { %>
                            <button onclick="ShowModal('<%= comment.text %>', '<%= info["imdbID"] %>', '<%= comment._id %>')" class="glyphicon-btn">
                                <span class="glyphicon glyphicon-pencil glyphicon-general" title="Edit" aria-hidden="true"></span>
                            </button>
                        <% } %>
                    </div>
                <% }); %>
                <% if (currUser) { %>
                    <div class="comment-form">
                        <form action="/movies/<%= info["imdbID"] %>/comments" method="POST">
                            <textarea name="comment[text]" maxlength="1000" placeholder="Enter the comment" class="block comment-textarea" rows="5"></textarea>
                            <div class="align-right">
                                <p>* <span class="limit-characters">1000</span> characters left</p>
                            </div>
                            <div class="extremes">
                                <input type="button" class="btn btn-default clear-btn" value="Clear">
                                <input type="submit" class="btn btn-success submit-btn" value="Send">
                            </div>
                        </form>
                    </div>
                <% } %>
            <% } %>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="comment-md" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit comment</h4>
      </div>
      <div class="modal-body">
        <form id="comment-form" action="/movies/" method="POST">
            <textarea id="textarea-comment" maxlength="1000" name="comment[text]" class="block comment-textarea" rows="5"></textarea>
            <div class="align-right">
                <p>* <span class="limit-characters-edit">1000</span> characters left</p>
            </div>
            <div class="align-right">
                <input type="submit" class="btn btn-success submit-btn" value="Edit">
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script>
    // Show modal to edit comment
    function ShowModal(oldComment, movieID, commentID) {
        document.getElementById("textarea-comment").value = oldComment;
        document.getElementsByClassName("limit-characters-edit")[0].textContent = 1000 - document.getElementById("textarea-comment").value.length; 
        document.getElementById("comment-form").action = "/movies/" + movieID + "/comments/" + commentID + "?_method=PUT";
        $("#comment-md").modal("show");
    }
    
    // Clear the textarea with comment
    document.getElementsByClassName("clear-btn")[0].addEventListener("click", function() {
        document.getElementsByClassName("comment-textarea")[0].value = "";
        document.getElementsByClassName("limit-characters")[0].textContent = 1000;
    });
    
    // Update how many characters the user can use
    document.getElementsByClassName("comment-textarea")[0].addEventListener("keyup", function() {
        document.getElementsByClassName("limit-characters")[0].textContent = 1000 - document.getElementsByClassName("comment-textarea")[0].value.length; 
    });
    
    // Update how many characters the user can use while editing the comment
    document.getElementById("textarea-comment").addEventListener("keyup", function() {
        document.getElementsByClassName("limit-characters-edit")[0].textContent = 1000 - document.getElementById("textarea-comment").value.length;  
    });
</script>

<% include ../partials/footer %>